/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 11, 2020, 11:59:59 PM
    Author     : quang
*/
customer_name{background-color: red; border: 2px solid black; height: 20px; width: 200px; padding: 5px;}
account_number{background-color: blue; border: 2px solid black; height: 20px; width: 200px;padding: 5px;}
account_type{background-color: green; border: 2px solid black; height: 20px; width: 200px;padding: 5px;}
blance{background-color: white; border: 2px solid black; height: 20px; width: 200px;padding: 5px;}
account{display: block;margin: 20px;}


